[/INST] Please provide me with a description of the SBI service name: {{appName}}[/INST] 
{{{appDescriptionWithNewLines}}}
</s>[INST] List all API endpoints relative to the base URL of this service: [/INST] 
{{#apiInfo}}
{{^apis}} No API endpoints defined in this service.{{/apis}}
Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | **{{operationId}}** | **{{httpMethod}}** {{path}} | {{summary}}
{{/operation}}{{/operations}}{{/apis}}
> Note: The base URL takes the form of *{{basePath}}*
{{/apiInfo}}
  
</s>[INST] List all attributes defined in this service: [/INST] 
{{#models}}{{#model}} - {{classname}}
{{/model}}{{/models}}
</s>[INST] List all authentication schemes defined for the API: [/INST] 
{{^authMethods}}Endpoints do not require authorization.{{/authMethods}}
{{#authMethods}}
### {{name}}

{{#isApiKey}}- **Type**: API key
- **API key parameter name**: {{keyParamName}}
- **Location**: {{#isKeyInQuery}}URL query string{{/isKeyInQuery}}{{#isKeyInHeader}}HTTP header{{/isKeyInHeader}}
{{/isApiKey}}
{{#isBasicBasic}}- **Type**: HTTP basic authentication
{{/isBasicBasic}}
{{#isBasicBearer}}- **Type**: HTTP Bearer Token authentication{{#bearerFormat}} ({{{.}}}){{/bearerFormat}}
{{/isBasicBearer}}
{{#isHttpSignature}}- **Type**: HTTP signature authentication
{{/isHttpSignature}}
{{#isOAuth}}- **Type**: OAuth
- **Flow**: {{flow}}
- **Authorization URL**: {{authorizationUrl}}
- **Scopes**: {{^scopes}}N/A{{/scopes}}
{{#scopes}}  - {{scope}}: {{description}}
{{/scopes}}
{{/isOAuth}}

{{/authMethods}}
</s>
